*{
    margin: 0px;
}
h1{
    border: solid;
    /* margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 40px; */
    /* margin: 20px 10px; */
    margin: 10px 20px 30px 40px ;

    /* padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 30px; */
    padding: 10px 20px 30px 40px;
}
a{
    border: solid;
    margin: 30px;
    padding: 40px;
}