*{
    text-align: center;
}
#head{
    color: brown;
}
.group{
    color: blue;
    font-size: 20px;
}
h3,h4{
    text-align: left;
    font-size: 25px;
}
div p{
    color: brown;
    text-align: left;
}
div>h2{
    color: darkcyan;
}
div~p{
    background-color: chartreuse;
}
div+p{
    background-color: darkorchid;
}