*{
    margin: 0px;
    padding: 0px;
}
div{
    width: 100%;
    height: 400px;
    background-image: url(https://wallpapers-clan.com/wp-content/uploads/2024/07/one-piece-luffy-sunset-desktop-wallpaper-cover.jpg);
    background-size: cover;
    background-attachment: fixed;
}