.parent{
    height: 500px;
    border: solid;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.child{
    width: 300px;
    height: 350px;
    border: solid;
}
img{
    width: 100%;
}