*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
#header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  rgba(0, 255, 255, 0.248);
    backdrop-filter: blur(8px);
}
.logo{
    font-size: 2.4rem;
    text-decoration: none;
    font-weight: 600;
    color: brown;
    margin-left: 2.5rem;
}
#check{
    display: none;
}
.icons{
    font-size: 2.4rem;
    color: blue;
    font-weight: 600;
    position: absolute;
    right: 5%;
    cursor: pointer;
    display: none;
}
.navbar a{
    font-size: 1.15rem;
    color: brown;
    text-decoration: none;
    font-weight: 600;
    margin-left: 2.5rem;
}
.contents{
    padding-top: 100px;
}
h1{
    color: red;
}
p{
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1.2;
}
.container{
    display: flex;
    flex-wrap: nowrap;
}
.item{
    height: 400px;
    width: 300px;
    border: solid 1px;
}
.group1{
    width: 100%;
}
@media (max-width:760px) and (min-width:481px){
    h1{
        color: blue;
    }
    p{
        font-size: 1.5rem;
        line-height: 1.75;
    }
    .container{
        flex-wrap: wrap;
    }
}
@media (max-width:992px){
    #header{
            padding: 1.3rem 10%;
    }
}
@media (max-width:760px){
    .icons{
        display: flex;
    }
    #closeIcon{
        display: none;
    }
     #check:checked~.icons #menuIcon{
        display: none;
    }
    #check:checked~.icons #closeIcon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: antiquewhite;
        display: none;
    }
    #check:checked~.navbar{
        display: block;
    }
    .navbar a{
        display: block;
        text-align: center;
        font-size: 1.1rem;
        margin: 1.5rem 0px;
    }
    h1{
        color: blue;
    }
}